@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(37, 37, 37);
  color: white;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.layout {
    max-width: 68.75rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.h0 {
  @apply text-3xl font-bold md:text-5xl;
}

h1,
.h1 {
  @apply text-2xl font-bold md:text-4xl;
}

h2, .h2 {
  @apply text-xl font-bold md:text-3xl;
}

h3,
.h3 {
  @apply text-lg font-bold md:text-2xl;
}

h4,
.h4 {
  @apply text-base font-bold md:text-lg;
}

body,
.p {
  @apply text-sm md:text-base;
}